/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full-page styling */
html, body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  flex-direction: column; 
}

/* Logo within navbar */
.navbar-logo {
  height: 40px; 
  width: auto; 
  margin-right: 1rem; 
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3371e6;
  padding: 1rem 2rem;
  color: white;
  width: 100vw;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #316de6;
  border-radius: 5px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #aed4f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: #7CB9E8;
  border-radius: 5px;
}

.navbar-right {
  display: flex;
  gap: 1rem;
}

.nav-button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3;
}

/* Main Content Styles */
.get-started-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 4rem); /* Full height minus navbar height */
  text-align: center;
  background-color: #fff;
  padding: 2rem;
  width: 100%; /* Take up full width */
}

h1 {
  color: #7CB9E8;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}